.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    border-top: 2px solid #f4f4f4;
}

.pagination__prev,
.pagination__next {}

.pagination__link {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    padding: 0;
    background-color: unset;
    border: none;
}

.pagination__numbers {
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-grow: 1;
}

.pagination__number {
    border: none;
    background-color: unset;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 8px;
}

.pagination__number:hover {
    background-color: #eee;
}

.active {
    text-decoration: underline;
}